In [145]:
import pandas as pd
import numpy as np

In [146]:
#In this challenge, you are tasked with creating a Python script for analyzing the financial records of your company. 
#You will give a set of financial data called [budget_data.csv]

In [147]:
# Set path for file
budget = 'budget_data.csv'

In [148]:
# Control delimiters, rows, column names with read_csv 
budget_df = pd.read_csv(budget)

In [149]:
budget_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [150]:
# To see info about a method do diff() then put cursor after "()" then do Shift + Tab
budget_df['pl_diff'] = budget_df['Profit/Losses'].diff()
budget_df.head()

       Date  Profit/Losses   pl_diff
0  Jan-2010         867884       NaN
1  Feb-2010         984655  116771.0
2  Mar-2010         322013 -662642.0
3  Apr-2010         -69417 -391430.0
4  May-2010         310503  379920.0

In [151]:
budget_df['pct_change'] = budget_df['Profit/Losses'].pct_change()

In [152]:
budget_df.head()

       Date  Profit/Losses   pl_diff  pct_change
0  Jan-2010         867884       NaN         NaN
1  Feb-2010         984655  116771.0    0.134547
2  Mar-2010         322013 -662642.0   -0.672969
3  Apr-2010         -69417 -391430.0   -1.215572
4  May-2010         310503  379920.0   -5.473011

In [153]:
budget_df.pl_diff.mean()

-2315.1176470588234

In [154]:
budget_df.head()

       Date  Profit/Losses   pl_diff  pct_change
0  Jan-2010         867884       NaN         NaN
1  Feb-2010         984655  116771.0    0.134547
2  Mar-2010         322013 -662642.0   -0.672969
3  Apr-2010         -69417 -391430.0   -1.215572
4  May-2010         310503  379920.0   -5.473011

In [155]:
#The total number of months included in the dataset
budget_df["Date"].count()

86

In [156]:
#verify count -1, because index starts at 0
budget_df.tail()

        Date  Profit/Losses   pl_diff  pct_change
81  Oct-2016         102685 -665765.0   -0.866374
82  Nov-2016         795914  693229.0    6.751025
83  Dec-2016          60988 -734926.0   -0.923374
84  Jan-2017         138230   77242.0    1.266511
85  Feb-2017         671099  532869.0    3.854945

In [157]:
#The net total amount of "Profit/Losses" over the entire period
budget_df["Profit/Losses"].sum()

38382578

In [158]:
#The average of the changes in "Profit/Losses" over the entire period
budget_df["Profit/Losses"].mean()

446309.0465116279

In [159]:
#The greatest increase in profits (date and amount) over the entire period
budget_df["Profit/Losses"].describe()

count    8.600000e+01
mean     4.463090e+05
std      5.363579e+05
min     -1.196225e+06
25%      1.821620e+05
50%      5.703280e+05
75%      7.952262e+05
max      1.170593e+06
Name: Profit/Losses, dtype: float64

In [160]:
budget_df["Date"].describe()

count           86
unique          86
top       Aug-2014
freq             1
Name: Date, dtype: object

In [161]:
#Verify the greatest increase in profits (date and amount) over the entire period
budget_df.describe

<bound method NDFrame.describe of         Date  Profit/Losses    pl_diff  pct_change
0   Jan-2010         867884        NaN         NaN
1   Feb-2010         984655   116771.0    0.134547
2   Mar-2010         322013  -662642.0   -0.672969
3   Apr-2010         -69417  -391430.0   -1.215572
4   May-2010         310503   379920.0   -5.473011
5   Jun-2010         522857   212354.0    0.683903
6   Jul-2010        1033096   510239.0    0.975867
7   Aug-2010         604885  -428211.0   -0.414493
8   Sep-2010        -216386  -821271.0   -1.357731
9   Oct-2010         477532   693918.0   -3.206853
10  Nov-2010         893810   416278.0    0.871728
11  Dec-2010         -80353  -974163.0   -1.089899
12  Jan-2011         779806   860159.0  -10.704753
13  Feb-2011        -335203 -1115009.0   -1.429854
14  Mar-2011         697845  1033048.0   -3.081858
15  Apr-2011         793163    95318.0    0.136589
16  May-2011         485070  -308093.0   -0.388436
17  Jun-2011         584122    99052.0    0.204201
18  Jul-2011          62729  -521393.0   -0.892610
19  Aug-2011         668179   605450.0    9.651836
20  Sep-2011         899906   231727.0    0.346804
21  Oct-2011         834719   -65187.0   -0.072438
22  Nov-2011         132003  -702716.0   -0.841859
23  Dec-2011         309978   177975.0    1.348265
24  Jan-2012        -755566 -1065544.0   -3.437483
25  Feb-2012        1170593  1926159.0   -2.549293
26  Mar-2012         252788  -917805.0   -0.784051
27  Apr-2012        1151518   898730.0    3.555272
28  May-2012         817256  -334262.0   -0.290279
29  Jun-2012         570757  -246499.0   -0.301618
..       ...            ...        ...         ...
56  Sep-2014        1166643   365942.0    0.457027
57  Oct-2014         947333  -219310.0   -0.187984
58  Nov-2014         578668  -368665.0   -0.389161
59  Dec-2014         988505   409837.0    0.708242
60  Jan-2015        1139715   151210.0    0.152968
61  Feb-2015        1029471  -110244.0   -0.096729
62  Mar-2015         687533  -341938.0   -0.332149
63  Apr-2015        -524626 -1212159.0   -1.763056
64  May-2015         158620   683246.0   -1.302349
65  Jun-2015          87795   -70825.0   -0.446507
66  Jul-2015         423389   335594.0    3.822473
67  Aug-2015         840723   417334.0    0.985699
68  Sep-2015         568529  -272194.0   -0.323762
69  Oct-2015         332067  -236462.0   -0.415919
70  Nov-2015         989499   657432.0    1.979817
71  Dec-2015         778237  -211262.0   -0.213504
72  Jan-2016         650000  -128237.0   -0.164779
73  Feb-2016       -1100387 -1750387.0   -2.692903
74  Mar-2016        -174946   925441.0   -0.841014
75  Apr-2016         757143   932089.0   -5.327867
76  May-2016         445709  -311434.0   -0.411328
77  Jun-2016         712961   267252.0    0.599611
78  Jul-2016       -1163797 -1876758.0   -2.632343
79  Aug-2016         569899  1733696.0   -1.489689
80  Sep-2016         768450   198551.0    0.348397
81  Oct-2016         102685  -665765.0   -0.866374
82  Nov-2016         795914   693229.0    6.751025
83  Dec-2016          60988  -734926.0   -0.923374
84  Jan-2017         138230    77242.0    1.266511
85  Feb-2017         671099   532869.0    3.854945

[86 rows x 4 columns]>

In [162]:
budget_df.max()

Date                Sep-2016
Profit/Losses        1170593
pl_diff          1.92616e+06
pct_change           9.65184
dtype: object

In [163]:
budget_df.min()

Date                Apr-2010
Profit/Losses       -1196225
pl_diff         -2.19617e+06
pct_change          -10.7048
dtype: object

In [164]:
np.var(budget_df)

Profit/Losses    2.843347e+11
pl_diff          5.759794e+11
pct_change       6.124720e+00
dtype: float64

In [165]:
# To see info about a method do diff() then put cursor after "()" then do Shift + Tab
budget_df['pl_diff'] = budget_df['Profit/Losses'].diff()
budget_df

        Date  Profit/Losses    pl_diff  pct_change
0   Jan-2010         867884        NaN         NaN
1   Feb-2010         984655   116771.0    0.134547
2   Mar-2010         322013  -662642.0   -0.672969
3   Apr-2010         -69417  -391430.0   -1.215572
4   May-2010         310503   379920.0   -5.473011
5   Jun-2010         522857   212354.0    0.683903
6   Jul-2010        1033096   510239.0    0.975867
7   Aug-2010         604885  -428211.0   -0.414493
8   Sep-2010        -216386  -821271.0   -1.357731
9   Oct-2010         477532   693918.0   -3.206853
10  Nov-2010         893810   416278.0    0.871728
11  Dec-2010         -80353  -974163.0   -1.089899
12  Jan-2011         779806   860159.0  -10.704753
13  Feb-2011        -335203 -1115009.0   -1.429854
14  Mar-2011         697845  1033048.0   -3.081858
15  Apr-2011         793163    95318.0    0.136589
16  May-2011         485070  -308093.0   -0.388436
17  Jun-2011         584122    99052.0    0.204201
18  Jul-2011          62729  -521393.0   -0.892610
19  Aug-2011         668179   605450.0    9.651836
20  Sep-2011         899906   231727.0    0.346804
21  Oct-2011         834719   -65187.0   -0.072438
22  Nov-2011         132003  -702716.0   -0.841859
23  Dec-2011         309978   177975.0    1.348265
24  Jan-2012        -755566 -1065544.0   -3.437483
25  Feb-2012        1170593  1926159.0   -2.549293
26  Mar-2012         252788  -917805.0   -0.784051
27  Apr-2012        1151518   898730.0    3.555272
28  May-2012         817256  -334262.0   -0.290279
29  Jun-2012         570757  -246499.0   -0.301618
..       ...            ...        ...         ...
56  Sep-2014        1166643   365942.0    0.457027
57  Oct-2014         947333  -219310.0   -0.187984
58  Nov-2014         578668  -368665.0   -0.389161
59  Dec-2014         988505   409837.0    0.708242
60  Jan-2015        1139715   151210.0    0.152968
61  Feb-2015        1029471  -110244.0   -0.096729
62  Mar-2015         687533  -341938.0   -0.332149
63  Apr-2015        -524626 -1212159.0   -1.763056
64  May-2015         158620   683246.0   -1.302349
65  Jun-2015          87795   -70825.0   -0.446507
66  Jul-2015         423389   335594.0    3.822473
67  Aug-2015         840723   417334.0    0.985699
68  Sep-2015         568529  -272194.0   -0.323762
69  Oct-2015         332067  -236462.0   -0.415919
70  Nov-2015         989499   657432.0    1.979817
71  Dec-2015         778237  -211262.0   -0.213504
72  Jan-2016         650000  -128237.0   -0.164779
73  Feb-2016       -1100387 -1750387.0   -2.692903
74  Mar-2016        -174946   925441.0   -0.841014
75  Apr-2016         757143   932089.0   -5.327867
76  May-2016         445709  -311434.0   -0.411328
77  Jun-2016         712961   267252.0    0.599611
78  Jul-2016       -1163797 -1876758.0   -2.632343
79  Aug-2016         569899  1733696.0   -1.489689
80  Sep-2016         768450   198551.0    0.348397
81  Oct-2016         102685  -665765.0   -0.866374
82  Nov-2016         795914   693229.0    6.751025
83  Dec-2016          60988  -734926.0   -0.923374
84  Jan-2017         138230    77242.0    1.266511
85  Feb-2017         671099   532869.0    3.854945

[86 rows x 4 columns]

In [166]:
budget_df['pl_diff'].min()

-2196167.0

In [167]:
budget_df['pl_diff'].max()

1926159.0

In [168]:
budget_df['pl_diff'].mean()

-2315.1176470588234

In [169]:
budget_df['pct_change'].mean()

-0.28671102859649694

In [170]:
budget_df.head()

       Date  Profit/Losses   pl_diff  pct_change
0  Jan-2010         867884       NaN         NaN
1  Feb-2010         984655  116771.0    0.134547
2  Mar-2010         322013 -662642.0   -0.672969
3  Apr-2010         -69417 -391430.0   -1.215572
4  May-2010         310503  379920.0   -5.473011

In [171]:
#  ```text
#  Financial Analysis
#  ----------------------------
#  Total Months: 86
#  Total: $38382578
#  Average  Change: $-2315.12
#  Greatest Increase in Profits: Feb-2012 ($1926159)
#  Greatest Decrease in Profits: Sep-2013 ($-2196167)

print("""
Financial Analysis
----------------------------
  Total Months: 86
  Total: $38382578
  Average  Change: $2315.1176470588234
  Average Percentage of Change: -0.29
  Greatest Increase in Profits: Feb-2012 ($1926159.0)
  Greatest Decrease in Profits: Sep-2013 ($-2129858.0)""")

Financial Analysis
----------------------------
  Total Months: 86
  Total: $38382578
  Average  Change: $2315.1176470588234
  Average Percentage of Change: -0.29
  Greatest Increase in Profits: Feb-2012 ($1926159.0)
  Greatest Decrease in Profits: Sep-2013 ($-2129858.0)

In [172]:
print(budget_df['pct_change'].mean())

-0.28671102859649694

In [173]:
def metrics():
    return """
Financial Analysis
----------------------------
  Total Months: 86
  Total: $38382578
  Average  Change: $2315.1176470588234
  Average Percentage of Change: -0.29
  Greatest Increase in Profits: Feb-2012 ($1926159.0)
  Greatest Decrease in Profits: Sep-2013 ($-2129858.0)"""

output = metrics()
file = open("metrics.txt","w")
file.write(output)
file.close()